div {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    overflow: hidden;
}

h1, h2, h3 {
    position: relative;
    left: 5%;
    font-weight: 300;
}

#title {
    font-weight: bolder;
    margin-top: 4%
}

#subtitle {
    margin-top: 2%;
    font-weight: bold;
    color: cornflowerblue
}

ul { /* Entire list */
    list-style-type: none;
    padding: 0;
    position: relative;
    left: 0%;
    /* margin-top: 1%; */
    font-size: 20px;
}

li { /* Individual items */
    /* margin-bottom: 1.5%; */
}

a:link, a:visited {
    text-decoration: none;
    color: grey;
    transition: 0.2s;
}

a:hover {
    color: black;
    transition: 0.2s;
}

span {
    position:relative;
    top: 6px;
}

.upload {
    margin-top: 1%;    
}